<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Add Post</title>
</head>
<body>
<h1>Add Post</h1>
<form action="/post/add" method="post">
    <input type="date" name="date">Post Date</input>
    <input type="text" name="author">Blog Author</input>
    <input type="text" name="post_title">Post Title</input>




    <textarea id = "content" name="content" rows="20" cols="60"></textarea>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>
</body>
</html>